{% extends 'base.html' %}

{% block title %}
passwordchange - {{ block.super }}
{% endblock %}

{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/user_password_change.css' %}">


<div class="password-change-wrapper">
    <div class="password-change">
        <h3>パスワード変更画面</h3>

        <form method="POST" class="password-change-form">
            {% csrf_token %}
            <div class="error-message">
                {{ form.non_field_errors }}
                {% if form.errors %}
                    {% for key, value in form.errors.items %}
                        {% if key != '__all__' %}
                            <p>{{ value }}</p>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </div>

            <div class="form-content">
                {{ form.old_password.label }}:
                {{ form.old_password }}
            </div>
            <div class="form-content">
                {{ form.new_password1.label }}:<br>
                {{ form.new_password1 }}
            </div>
            <div class="form-content">
                {{ form.new_password2.label }}:<br>
                {{ form.new_password2 }}
            </div>
            <div class="btn-wrapper"> 
                <input class="btn-password-change" type="submit" value="確定">
            </div>
        </form>

    </div>
</div>


{% endblock %}